* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: aqua;
  color: black;
}

.swiper {
  max-width: 100%;
  height: 100vh;
  background-color: chartreuse;
}

.swiper__slide {
  width: 30%;
  height: 300px;
  background-color: black;
  border: 3px solid red;
  font-size: 48px;
  padding: 20px 40px;
  color: #fff;
  text-align: center;
}

.swiper__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}