*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}
$color-white: #fff;
@import 'mixin';
body{
    background-color: aqua;
    color: black;
}
.swiper{
    max-width: 100%;
    height: 100vh;
    background-color: chartreuse;
}
.swiper__slide{
    width: 30%;
    height: 300px;
    background-color: black;
    border: 3px solid red;
    @include fontSize(48px);
    @include paddingText (20px, 40px);
    color: $color-white;
    text-align: center;
}
.swiper__wrapper{
    @include flexible;
    gap: 20px;
}